In [452]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
%matplotlib inline

In [453]:


# Read train_data and test_data
train_data = pd.read_excel("Data_Train.xlsx")
test_data = pd.read_excel("Test_set.xlsx")

# Concatinate test_data to train_data
data = pd.concat([train_data, test_data])
data.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0

In [454]:
data.tail()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
2666,Air India,6/06/2019,Kolkata,Banglore,CCU → DEL → BLR,20:30,20:25 07 Jun,23h 55m,1 stop,No info,NaN
2667,IndiGo,27/03/2019,Kolkata,Banglore,CCU → BLR,14:20,16:55,2h 35m,non-stop,No info,NaN
2668,Jet Airways,6/03/2019,Delhi,Cochin,DEL → BOM → COK,21:50,04:25 07 Mar,6h 35m,1 stop,No info,NaN
2669,Air India,6/03/2019,Delhi,Cochin,DEL → BOM → COK,04:00,19:15,15h 15m,1 stop,No info,NaN
2670,Multiple carriers,15/06/2019,Delhi,Cochin,DEL → BOM → COK,04:55,19:15,14h 20m,1 stop,No info,NaN

In [455]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13354 entries, 0 to 2670
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Date_of_Journey  13354 non-null  object
 2   Source           13354 non-null  object
 3   Destination      13354 non-null  object
 4   Route            13353 non-null  object
 5   Dep_Time         13354 non-null  object
 6   Arrival_Time     13354 non-null  object
 7   Duration         13354 non-null  object
 8   Total_Stops      13353 non-null  object
 9   Additional_Info  13354 non-null  object
 10  Price            10683 non-null  float64
dtypes: float64(1), object(10)
memory usage: 1.2+ MB

## feature engineering process

In [456]:
data["day"]=data["Date_of_Journey"].str.split('/').str[0]
data["month"]=data["Date_of_Journey"].str.split('/').str[1]
data["year"]=data["Date_of_Journey"].apply(lambda x:x.split('/')[2])
data["year"]

0       2019
1       2019
2       2019
3       2019
4       2019
        ...
2666    2019
2667    2019
2668    2019
2669    2019
2670    2019
Name: year, Length: 13354, dtype: object

In [457]:
data.columns

Index(['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Route',
       'Dep_Time', 'Arrival_Time', 'Duration', 'Total_Stops',
       'Additional_Info', 'Price', 'day', 'month', 'year'],
      dtype='object')

In [458]:
data["month"]=data["month"].astype(int)
data["day"]=data["day"].astype(int)
data["year"]=data["year"].astype(int)
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13354 entries, 0 to 2670
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Date_of_Journey  13354 non-null  object
 2   Source           13354 non-null  object
 3   Destination      13354 non-null  object
 4   Route            13353 non-null  object
 5   Dep_Time         13354 non-null  object
 6   Arrival_Time     13354 non-null  object
 7   Duration         13354 non-null  object
 8   Total_Stops      13353 non-null  object
 9   Additional_Info  13354 non-null  object
 10  Price            10683 non-null  float64
 11  day              13354 non-null  int64
 12  month            13354 non-null  int64
 13  year             13354 non-null  int64
dtypes: float64(1), int64(3), object(10)
memory usage: 1.5+ MB

In [459]:
data.drop("Date_of_Journey",axis=1,inplace=True)

In [460]:
data.columns

Index(['Airline', 'Source', 'Destination', 'Route', 'Dep_Time', 'Arrival_Time',
       'Duration', 'Total_Stops', 'Additional_Info', 'Price', 'day', 'month',
       'year'],
      dtype='object')

In [461]:

data["Arrival_Time"]=data["Arrival_Time"].apply(lambda x:x.split(' ')[0])

In [462]:
data.isnull().sum()

Airline               0
Source                0
Destination           0
Route                 1
Dep_Time              0
Arrival_Time          0
Duration              0
Total_Stops           1
Additional_Info       0
Price              2671
day                   0
month                 0
year                  0
dtype: int64

In [463]:
data["Arrival_Hour"]=data["Arrival_Time"].apply(lambda x:int(x.split(':')[0]))
data["Arrival_Minute"]=data["Arrival_Time"].apply(lambda x:int(x.split(':')[1]))
data["Arrival_Hour"]
data["Arrival_Minute"]

0       10
1       15
2       25
3       30
4       35
        ..
2666    25
2667    55
2668    25
2669    15
2670    15
Name: Arrival_Minute, Length: 13354, dtype: int64

In [464]:
data.head()

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,day,month,year,Arrival_Hour,Arrival_Minute
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10,2h 50m,non-stop,No info,3897.0,24,3,2019,1,10
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,5,2019,13,15
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25,19h,2 stops,No info,13882.0,9,6,2019,4,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0,12,5,2019,23,30
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0,1,3,2019,21,35

In [465]:

data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13354 entries, 0 to 2670
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Source           13354 non-null  object
 2   Destination      13354 non-null  object
 3   Route            13353 non-null  object
 4   Dep_Time         13354 non-null  object
 5   Arrival_Time     13354 non-null  object
 6   Duration         13354 non-null  object
 7   Total_Stops      13353 non-null  object
 8   Additional_Info  13354 non-null  object
 9   Price            10683 non-null  float64
 10  day              13354 non-null  int64
 11  month            13354 non-null  int64
 12  year             13354 non-null  int64
 13  Arrival_Hour     13354 non-null  int64
 14  Arrival_Minute   13354 non-null  int64
dtypes: float64(1), int64(5), object(9)
memory usage: 1.6+ MB

In [466]:
data.drop("Arrival_Time",axis=1,inplace=True)

In [467]:
data.head()

,Airline,Source,Destination,Route,Dep_Time,Duration,Total_Stops,Additional_Info,Price,day,month,year,Arrival_Hour,Arrival_Minute
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,2h 50m,non-stop,No info,3897.0,24,3,2019,1,10
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,7h 25m,2 stops,No info,7662.0,1,5,2019,13,15
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,19h,2 stops,No info,13882.0,9,6,2019,4,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,5h 25m,1 stop,No info,6218.0,12,5,2019,23,30
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,4h 45m,1 stop,No info,13302.0,1,3,2019,21,35

In [468]:
data["Dep_hour"]=data["Dep_Time"].apply(lambda x:int(x.split(':')[0]))
data["Dep_Minute"]=data["Dep_Time"].apply(lambda x:int(x.split(':')[1]))

In [469]:
data.drop("Dep_Time",axis=1,inplace=True)

In [470]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13354 entries, 0 to 2670
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Source           13354 non-null  object
 2   Destination      13354 non-null  object
 3   Route            13353 non-null  object
 4   Duration         13354 non-null  object
 5   Total_Stops      13353 non-null  object
 6   Additional_Info  13354 non-null  object
 7   Price            10683 non-null  float64
 8   day              13354 non-null  int64
 9   month            13354 non-null  int64
 10  year             13354 non-null  int64
 11  Arrival_Hour     13354 non-null  int64
 12  Arrival_Minute   13354 non-null  int64
 13  Dep_hour         13354 non-null  int64
 14  Dep_Minute       13354 non-null  int64
dtypes: float64(1), int64(7), object(7)
memory usage: 1.6+ MB

In [471]:
data["Total_Stops"].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [472]:
data[data["Total_Stops"].isnull()]

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,day,month,year,Arrival_Hour,Arrival_Minute,Dep_hour,Dep_Minute
9039,Air India,Delhi,Cochin,NaN,23h 40m,NaN,No info,7480.0,6,5,2019,9,25,9,45

In [473]:
data[data["Price"]==7480.0]

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,day,month,year,Arrival_Hour,Arrival_Minute,Dep_hour,Dep_Minute
1213,Air India,Delhi,Cochin,DEL → MAA → COK,12h 45m,1 stop,No info,7480.0,21,5,2019,9,25,20,40
1567,Air India,Delhi,Cochin,DEL → MAA → COK,12h 45m,1 stop,No info,7480.0,27,6,2019,9,25,20,40
1595,Air India,Delhi,Cochin,DEL → MAA → COK,12h 45m,1 stop,No info,7480.0,18,5,2019,9,25,20,40
1616,Air India,Delhi,Cochin,DEL → MAA → COK,23h 40m,1 stop,No info,7480.0,24,5,2019,9,25,9,45
1725,Air India,Delhi,Cochin,DEL → MAA → COK,16h 5m,1 stop,No info,7480.0,27,5,2019,9,25,17,20
2554,Air India,Delhi,Cochin,DEL → MAA → COK,23h 40m,1 stop,No info,7480.0,15,5,2019,9,25,9,45
2842,Air India,Delhi,Cochin,DEL → MAA → COK,12h 45m,1 stop,No info,7480.0,1,5,2019,9,25,20,40
2862,Air India,Delhi,Cochin,DEL → MAA → COK,16h 5m,1 stop,No info,7480.0,21,5,2019,9,25,17,20
2927,Air India,Delhi,Cochin,DEL → MAA → COK,27h 20m,1 stop,No info,7480.0,27,5,2019,9,25,6,5
3341,Air India,Delhi,Cochin,DEL → MAA → COK,16h 5m,1 stop,No info,7480.0,27,6,2019,9,25,17,20
3345,Air India,Delhi,Cochin,DEL → MAA → COK,27h 20m,1 stop,No info,7480.0,9,5,2019,9,25,6,5
3462,Air India,Delhi,Cochin,DEL → MAA → COK,20h 55m,1 stop,No info,7480.0,15,5,2019,9,25,12,30
3660,Air India,Delhi,Cochin,DEL → MAA → COK,20h 55m,1 stop,No info,7480.0,1,6,2019,9,25,12,30
4043,Air India,Delhi,Cochin,DEL → MAA → COK,12h 45m,1 stop,No info,7480.0,15,6,2019,9,25,20,40
4312,Air India,Delhi,Cochin,DEL → MAA → COK,20h 55m,1 stop,No info,7480.0,18,5,2019,9,25,12,30
4351,Air India,Delhi,Cochin,DEL → MAA → COK,23h 40m,1 stop,No info,7480.0,27,6,2019,9,25,9,45
5158,Air India,Delhi,Cochin,DEL → TRV → COK,25h 35m,1 stop,No info,7480.0,21,5,2019,6,50,5,15
5255,Air India,Delhi,Cochin,DEL → MAA → COK,12h 45m,1 stop,No info,7480.0,1,6,2019,9,25,20,40
5560,Air India,Delhi,Cochin,DEL → MAA → COK,12h 45m,1 stop,No info,7480.0,24,6,2019,9,25,20,40
5783,Air India,Delhi,Cochin,DEL → MAA → COK,20h 55m,1 stop,No info,7480.0,27,6,2019,9,25,12,30
5936,Air India,Delhi,Cochin,DEL → MAA → COK,12h 45m,1 stop,No info,7480.0,24,5,2019,9,25,20,40
5976,Air India,Delhi,Cochin,DEL → MAA → COK,16h 5m,1 stop,No info,7480.0,3,6,2019,9,25,17,20
6071,Air India,Delhi,Cochin,DEL → MAA → COK,12h 45m,1 stop,No info,7480.0,15,5,2019,9,25,20,40
6283,Air India,Delhi,Cochin,DEL → MAA → COK,20h 55m,1 stop,No info,7480.0,24,6,2019,9,25,12,30
6912,Air India,Delhi,Cochin,DEL → MAA → COK,12h 45m,1 stop,No info,7480.0,12,6,2019,9,25,20,40
6988,Air India,Delhi,Cochin,DEL → MAA → COK,20h 55m,1 stop,No info,7480.0,12,6,2019,9,25,12,30
7286,Air India,Delhi,Cochin,DEL → MAA → COK,16h 5m,1 stop,No info,7480.0,24,6,2019,9,25,17,20
7890,Air India,Delhi,Cochin,DEL → MAA → COK,27h 20m,1 stop,No info,7480.0,21,5,2019,9,25,6,5
7896,Air India,Delhi,Cochin,DEL → MAA → COK,23h 40m,1 stop,No info,7480.0,12,6,2019,9,25,9,45
7904,Air India,Delhi,Cochin,DEL → TRV → COK,25h 35m,1 stop,No info,7480.0,1,6,2019,6,50,5,15
8292,Air India,Delhi,Cochin,DEL → MAA → COK,16h 5m,1 stop,No info,7480.0,12,6,2019,9,25,17,20
8499,Air India,Delhi,Cochin,DEL → MAA → COK,20h 55m,1 stop,No info,7480.0,9,5,2019,9,25,12,30
8523,Air India,Delhi,Cochin,DEL → MAA → COK,20h 55m,1 stop,No info,7480.0,21,5,2019,9,25,12,30
8726,Air India,Delhi,Cochin,DEL → MAA → COK,27h 20m,1 stop,No info,7480.0,15,6,2019,9,25,6,5
8809,Air India,Delhi,Cochin,DEL → MAA → COK,12h 45m,1 stop,No info,7480.0,6,5,2019,9,25,20,40
9017,Air India,Delhi,Cochin,DEL → MAA → COK,12h 45m,1 stop,No info,7480.0,9,5,2019,9,25,20,40
9039,Air India,Delhi,Cochin,NaN,23h 40m,NaN,No info,7480.0,6,5,2019,9,25,9,45
9049,Air India,Delhi,Cochin,DEL → MAA → COK,20h 55m,1 stop,No info,7480.0,15,6,2019,9,25,12,30
9361,Air India,Delhi,Cochin,DEL → MAA → COK,16h 5m,1 stop,No info,7480.0,15,5,2019,9,25,17,20
9443,Air India,Delhi,Cochin,DEL → MAA → COK,12h 45m,1 stop,No info,7480.0,3,6,2019,9,25,20,40
10371,Air India,Delhi,Cochin,DEL → MAA → COK,27h 20m,1 stop,No info,7480.0,18,5,2019,9,25,6,5

In [474]:
data["Total_Stops"]=data["Total_Stops"].map({"non-stop":0,"1 stop":1,"2 stops":2,"3 stops":3,"4 stops":4,"NaN":1})

In [475]:
data.head()

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,day,month,year,Arrival_Hour,Arrival_Minute,Dep_hour,Dep_Minute
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,0.0,No info,3897.0,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2.0,No info,7662.0,1,5,2019,13,15,5,50
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,19h,2.0,No info,13882.0,9,6,2019,4,25,9,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,5h 25m,1.0,No info,6218.0,12,5,2019,23,30,18,5
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,4h 45m,1.0,No info,13302.0,1,3,2019,21,35,16,50

In [476]:
data.drop("Route",axis=1,inplace=True)

In [477]:
# data["Duration_hour"]=data["Duration"].str.split(' ').str[0].str.split('h').str[0]

In [478]:
# data["Duration_hour"] = data["Duration"].apply(lambda x: int(x.split(' ')[0].split('h')[0]))

In [479]:
data[data["Duration"]=='5m']

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,day,month,year,Arrival_Hour,Arrival_Minute,Dep_hour,Dep_Minute
6474,Air India,Mumbai,Hyderabad,5m,2.0,No info,17327.0,6,3,2019,16,55,16,50
2660,Air India,Mumbai,Hyderabad,5m,2.0,No info,NaN,12,3,2019,16,55,16,50

In [480]:
data.drop([6474, 2660], axis=0, inplace=True)

In [481]:
# data.drop(6474,axis=0,inplace=True)

In [482]:
# data.drop(2660,axis=0,inplace=True)

In [483]:
data["Duration_hour"] = data["Duration"].apply(lambda x: int(x.split(' ')[0].split('h')[0]))

In [484]:
data["Duration_hour"]

0        2
1        7
2       19
3        5
4        4
        ..
2666    23
2667     2
2668     6
2669    15
2670    14
Name: Duration_hour, Length: 13351, dtype: int64

In [485]:
data.columns

Index(['Airline', 'Source', 'Destination', 'Duration', 'Total_Stops',
       'Additional_Info', 'Price', 'day', 'month', 'year', 'Arrival_Hour',
       'Arrival_Minute', 'Dep_hour', 'Dep_Minute', 'Duration_hour'],
      dtype='object')

In [486]:
data.drop("Duration",axis=1,inplace=True)

In [487]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13351 entries, 0 to 2670
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13351 non-null  object
 1   Source           13351 non-null  object
 2   Destination      13351 non-null  object
 3   Total_Stops      13350 non-null  float64
 4   Additional_Info  13351 non-null  object
 5   Price            10681 non-null  float64
 6   day              13351 non-null  int64
 7   month            13351 non-null  int64
 8   year             13351 non-null  int64
 9   Arrival_Hour     13351 non-null  int64
 10  Arrival_Minute   13351 non-null  int64
 11  Dep_hour         13351 non-null  int64
 12  Dep_Minute       13351 non-null  int64
 13  Duration_hour    13351 non-null  int64
dtypes: float64(2), int64(8), object(4)
memory usage: 1.5+ MB

In [488]:
data["Airline"].unique()

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Jet Airways Business',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)

In [489]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
data["Airline"]=le.fit_transform(data["Airline"])
data["Source"]=le.fit_transform(data["Source"])
data["Destination"]=le.fit_transform(data["Destination"])
data["Additional_Info"]=le.fit_transform(data["Additional_Info"])

data.shape

(13351, 14)

In [491]:
from sklearn.preprocessing import OneHotEncoder
ohe= OneHotEncoder()
data["Additional_Info"]=ohe.fit_transform(data[["Additional_Info"]]).toarray()

In [492]:
df1=pd.get_dummies(data,columns=["Airline","Source","Destination"],drop_first=True)

In [493]:
df1

,Total_Stops,Additional_Info,Price,day,month,year,Arrival_Hour,Arrival_Minute,Dep_hour,Dep_Minute,...,Airline_11,Source_1,Source_2,Source_3,Source_4,Destination_1,Destination_2,Destination_3,Destination_4,Destination_5
0,0.0,1.0,3897.0,24,3,2019,1,10,22,20,...,False,False,False,False,False,False,False,False,False,True
1,2.0,1.0,7662.0,1,5,2019,13,15,5,50,...,False,False,False,True,False,False,False,False,False,False
2,2.0,1.0,13882.0,9,6,2019,4,25,9,25,...,False,False,True,False,False,True,False,False,False,False
3,1.0,1.0,6218.0,12,5,2019,23,30,18,5,...,False,False,False,True,False,False,False,False,False,False
4,1.0,1.0,13302.0,1,3,2019,21,35,16,50,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666,1.0,1.0,NaN,6,6,2019,20,25,20,30,...,False,False,False,True,False,False,False,False,False,False
2667,0.0,1.0,NaN,27,3,2019,16,55,14,20,...,False,False,False,True,False,False,False,False,False,False
2668,1.0,1.0,NaN,6,3,2019,4,25,21,50,...,False,False,True,False,False,True,False,False,False,False
2669,1.0,1.0,NaN,6,3,2019,19,15,4,0,...,False,False,True,False,False,True,False,False,False,False
2670,1.0,1.0,NaN,15,6,2019,19,15,4,55,...,False,False,True,False,False,True,False,False,False,False